/* Google font start */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Abril+Fatface&family=Anton&family=Josefin+Sans&family=Lexend+Deca:wght@100;200;300&family=Livvic:wght@100&family=Montserrat:wght@300&family=Orelega+One&family=Poppins:wght@500&family=Ubuntu:ital,wght@0,400;1,300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color:  #F3F1FF;
}
/* Nav bar starts */
header{
    width:100% ;
    height: 94px;
    background-color: #562EFF ;
    margin: 0;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .nav-icon {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: white;
}
header .nav-icon img{
    width: 40px;
    height: 51px;
    padding-right: 16px;
}
.nav-icon span{
    font-size: 24px;
}
.nav-ul {
    display: flex;
    align-items: center;
    font-size: 16px;
}
.nav-ul li{
    list-style: none;
    padding-right: 35px;
}
.nav-ul li a{
    text-decoration: none;
    color: white;
}

/* common styles or utilities */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px 16px;
    margin: 21px;
    border-radius: 5px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}
/* top players style */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
/* top blogs styles */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    font-size: 16px;
    color:#9F9F9F;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}
/* Courses styles */
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
}
.course{
    width: 253px;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}
.course .course-banner img{
    width: 224px;
    height: 104px;
    margin-top: 11px;
    margin-left: 17px;
}
.course-details{
    margin-top: 19.5px;
    padding-left: 18px;
    padding-right: 17px;
    padding-bottom: 21px;
}
.course-title{
    margin-bottom: 7px;
}
.course-author{
    font-size: 15px;
    color: #ED6B4F;
    margin-bottom: 19px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course-duration{
    width: 94px;
    text-align: center;
    background-color: #FFE4E8;;
    border-radius: 14.6913px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
    
}
.far.fa-clock{
    padding-left: 5px;
}
/* Media Queries */

/* phone devices */
@media only screen and (max-width: 688px) {
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1,1fr);
    }
    .player, .blog{
        flex-direction: column;
    }  
}
/* tablet devices */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .container{
        width: 100%;
    }
    .players, .courses{
        grid-template-columns: repeat(2,1fr);
    }
    .player, .blog{
        flex-direction: column;
    }  
}

